@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  color: #502050;
  font-size: 15px;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem 1.5rem;
}

.section1 .header {
  margin-bottom: 2rem;
}

.section1 .header h1 {
  font-size: 1.875rem;
  text-align: center;
  margin: 1rem 2.3rem;
}

.section1 .header p {
  text-align: center;
  line-height: 1.65rem;
  color: #937b92;
}

.section1 .ratings {
  width: 100%;
}

.section1 .ratings .rating {
  background-color: #f7f2f7;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1 .ratings .rating .stars {
  margin-top: .5rem;
}

.section1 .ratings .rating .stars img {
  width: 13px;
}

.section1 .ratings .rating h4 {
  margin: .5rem 2rem;
  font-size: .785rem;
}

.section2 {
  margin: 0 1rem 4rem;
}

.section2 .reviews .review {
  margin-bottom: 1rem;
  border-radius: 5px;
  color: #f7f2f7;
  background-color: #502050;
}

.section2 .reviews .review .review-header {
  display: flex;
  align-items: center;
  padding: 2rem;
  padding-bottom: 1.5rem;
}

.section2 .reviews .review .review-header img {
  border-radius: 50%;
  width: 2.5rem;
}

.section2 .reviews .review .review-header div {
  margin-left: 1.5rem;
}

.section2 .reviews .review .review-header div h4 {
  font-size: .875rem;
}

.section2 .reviews .review .review-header div h5 {
  color: #ee68a4;
  font-weight: 500;
}

.section2 .reviews .review p {
  padding: 0 2rem 2rem;
  font-size: 0.75rem;
}

.attribution {
  font-size: 10px;
  text-align: center;
  padding: 5px;
}

.attribution a {
  text-decoration: none;
  color: #502050;
}

@media screen and (min-width: 900px) {
  .section1 {
    flex-direction: row;
    margin: 5rem 5rem 3rem;
    justify-content: space-between;
  }
  .section1 .header {
    width: 50%;
  }
  .section1 .header h1 {
    text-align: left;
    margin: 0;
    font-size: 2.785rem;
  }
  .section1 .header p {
    text-align: left;
    margin-top: 1rem;
  }
  .section1 .ratings {
    width: 40%;
  }
  .section1 .ratings .rating {
    width: 80%;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    padding: .5rem 0 .5rem 1rem;
  }
  .section1 .ratings .rating:nth-child(2) {
    margin-left: 2rem;
  }
  .section1 .ratings .rating:nth-child(3) {
    margin-left: 4rem;
  }
  .section2 {
    margin: 0 5rem 5rem;
  }
  .section2 .reviews {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .section2 .reviews .review {
    width: 32%;
  }
  .section2 .reviews .review:nth-child(2) {
    margin-top: 1rem;
  }
  .section2 .reviews .review:nth-child(3) {
    margin-top: 2rem;
  }
}
